body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-login {
  background: url("../images/background-login.jpg");
}

.authentication-panel {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 450px;
  border-radius: 3px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

a.create-account {
  margin-top: 15px;
  font-style: italic;
}

nav {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

table.table-align-middle tbody td{
  vertical-align: middle;
}

.item-wrap {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.item {
  cursor: pointer;
  outline: 1px solid;
  border-radius: 3px;
  /*display: flex;*/
}

.item:hover {
  background-color: #90CAF9;
}

.item-content{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.item-icon{
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
}

.item-icon img{
  height: 48px;
}

.item .dropdown{
  display:flex;
  align-items: center;
}

.item .dropdown button {
  padding:15px;
}

.item-description{
  max-height: 80px;
  overflow: hidden;
}

.item-item {
  display: flex;
  align-items: center;
}

.item-item + .item-item {
  margin-top: 5px;
}

.item-title > .item-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-item > div {
  margin-right: 10px;margin-left: 5px;
}

.item-item img {
  width: 48px;
}

.item-section {
  background-color: #4CAF50;text-align: center;font-size: 22px;font-weight: bold;font-style: italic;
}


.item-title {
  width:100%
}

.state-true{
  background-color: #C8E6C9;
}

.state-false {
  background-color: #FFCDD2;
}

.item.state-false{
  border-color: #D32F2F;
}

.item.state-true{
  border-color: #388E3C;
}